.Shop__title {
    margin: 6vw 0;
}
.Shop__slider-arrow {
    border: none;
    background-color: white;
    margin: 50px 20%;
}

.Shop__slider-arrow:focus, .Shop__slider-arrow:active {
    outline: none;
    box-shadow: none
;
}
@media screen and (max-width: 767px) {
    .Shop__slider-arrow {
        margin: 50px 30px;
    }
}
