.Shop__title {
  margin: 6vw 0;
}
.Shop__slider-arrow {
  border: none;
  background-color: unset;
  position: absolute;
  top: 102px;
  margin: 0;
  z-index: 1;
}
.Shop__slider-arrow-left {
  left: -40px;
}
.Shop__slider-arrow-right {
  right: -40px;
}

.Shop__slider-arrow:focus,
.Shop__slider-arrow:active {
  outline: none;
  box-shadow: none;
}
.Shop__button-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 6vw;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:focus-within,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:visited {
  color: black;
  background-color: white;
  border-color: white;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: white;
  border-color: white;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .Shop__slider-arrow {
    margin: 50px 30px;
  }
}
@media screen and (min-width: 501px) {
  .Shop__slider-arrow {
    top: 125px;
  }
}
@media screen and (min-width: 768px) {
  .Shop__slider-arrow {
    top: 176px;
  }
}
