.Loader__wrap {
    width: 100vw;
    height: 100vh;
    min-height: 700px;
    background-color: black;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Loader__logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px 6px white;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
