.ShopItem {
    width: 300px;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.16), 0 4px 6px 1px rgba(0, 0, 0, 0.24);
}
.ShopItem__wrap {
    display: flex;
    justify-content: center;
}
.ShopItem:hover {
    cursor: pointer;
    box-shadow: 0 4px 19px 1px rgba(0, 0, 0, 0.16), 0 9px 13px 1px rgba(0, 0, 0, 0.24);
}
.ShopItem__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: start;
}
/*.ShopItem__text-wrap {*/
    /*padding: 16px;*/
/*}*/
.ShopItem__price {
    text-align: start;
    font-size: 18px;
}
