.ShopItem {
    width: 300px;
    box-shadow: 0 0 9px 1px black;
}

.ShopItem__wrap {
    text-align: -webkit-center;
    margin: 10px 0 40px 0;
}
.ShopItem:hover {
    cursor: pointer;
    box-shadow: 0 0 12px 1px black;
}
.ShopItem__image img {
    width: 100%;
}

.ShopItem__name {
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    white-space: normal
}
.ShopItem__text-wrap {
    padding: 16px;
}
.ShopItem__price {
    text-align: center;
    font-size: 18px;
}
@media screen and (max-width: 500px) {
    .ShopItem {
        width: 260px;
    }
}
