
.AboutUs__text {
    background-color: #ebebeb;
    padding: 144px 100px;
    box-sizing: border-box;
}
.AboutUs__text h1 {
    text-align: start;
    opacity: 0.96;
    color: #000000;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
}
.AboutUs__text p {
    text-align: start;
    opacity: 0.96;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.carousel-indicators {
    display: none;
}
