 .Welcome {
     background-image: url("../../media/bg_image.png");
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
     box-sizing: border-box;
     padding: 20% 30%;
 }
 .Welcome__text {
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
 }
 .Welcome__button-wrap {
     margin-top: 40px;
 }
 .Welcome__text-wrap h2 {
     margin: 0px;
 }
 .Welcome__text-wrap h1 {
     color: #ffffff;
     font-size: 96px;
     font-weight: 400;
     line-height: 120px;
     letter-spacing: 5.76px;
     margin: 0px;
 }
