 .Welcome {
     background-image: url("../../media/bg_image.png");
     background-color: #000000;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 .Welcome__text {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     padding: 25% 0 20% 0;
 }

 .Welcome__text-pre-title {
     margin: 0px;
     font-size: 5vh;
     opacity: 0.48;
     color: #ffffff;
     text-transform: uppercase;
     letter-spacing: 2.28px;
 }
 .Welcome__text-title {
     color: #ffffff;
     font-size: 10vh;
     font-weight: 400;
     letter-spacing: 0.3vw;
     margin: 0px;
 }
 .Welcome__text-button {
     margin-top: 20px;
 }
