.ConcertItem {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  padding: 20px 30px;
  justify-content: space-between;
  background-color: white;
  border: solid black 2px;
}

.ConcertItem div{
  width: 100%;
}

.ConcertItem__link,
.ConcertItem__link:hover,
.ConcertItem__link:active {
  color: black;
}

.ConcertItem:nth-last-child(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.ConcertItem:nth-child(1) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 420px) {
  .ConcertItem {
    padding: 10px 20px;
  }
}
