.ShopModal__item-img {
    max-height: 400px;
    max-width: 500px;
    border-radius: 20px;
}
.ShopModal__item-info-text {
    margin-top: 10px;
}

@media screen and (max-width: 991px) {
    .ShopModal__item-info {
        flex-direction: column;
    }
}
@media screen and (min-width: 991px) {
    .ShopModal__item-info-text {
        margin-top: 0;
    }
}
