.Concerts__container {
  background-color: black;
}
.Concerts__title {
    margin: 6vw 0;
    color: white;
}
.Concerts__text {
    color: white;
    margin-bottom: 6vw;
}
.Concerts__text a {
    color: #545b62;
}
.Concerts__text a:hover {
    cursor: pointer;
    color: white;
}
.Concerts__content {
    margin-bottom: 6vw;
}
