.Header__logo {
    background-image: url("../../media/logo.png");
    background-size: auto;
    background-repeat: no-repeat;
    margin: 20px;
    width: 82px;
    height: 64px;
}
.Header__lang {
    margin: 20px;
    width: 82px;
    height: 64px;
}
.Header__link {
    text-transform: uppercase;
    color: #ffffff;
    align-self: center;
}
.navbar-toggler{
    margin-right: 20px;
}
.navbar, .Header__container{
    background-color: #7213f6;
}
