.Header__logo-container {
  display: flex;
  align-items: center;
}
.Header__logo {
  background-image: url("../../media/BY_OUTgnFUs.jpg");
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 6px 5px white;
  position: absolute;
  left: -10px;
}

.Header__logo-link {
  position: relative;
  width: 50px;
  height: 40px;
}

.Header__logo:hover {
  box-shadow: 0 0 6px 5px white inset;
  transition: all 0.4s;
}

.Header__link,
.navbar-dark .navbar-nav .nav-link  {
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50%;
}
.Header__link:hover,
.Header__link:focus {
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: white;
}
.navbar-toggler {
  margin-right: 20px;
}
.navbar,
.Header__container {
  background-color: black;
  box-shadow: 0 0 6px 5px white;
  padding: 14px 40px;
}
.navbar-toggler {
  margin: 0;
}
.dropdown-toggle:visited .nav-link:visited {
  color: white;
}
.dropdown-menu {
  background-color: black;
  padding: 0;
}
.dropdown-item span {
  padding: 0 15px;
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: black;
  outline: none;
  color: #ffffff;
}
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:visited {
  background-color: black;
  outline: none;
}
@media screen and (max-width: 768px) {
  .nav-item {
    padding-top: 15px;
  }
}
