.Header__logo {
    background-image: url("../../media/BY_OUTgnFUs.jpg");
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 6px 5px white;
}

.Header__logo:hover {
    box-shadow: 0 0 6px 5px white inset;
    transition: all .4s;
}

.navbar-dark .navbar-nav .nav-link {
    opacity: 1;
    text-transform: uppercase;
    color: #ffffff;
    align-self: center;
    padding: 15px;
    border-radius: 30%;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    box-shadow: 0 0 6px 5px white inset;
}
.navbar-toggler{
    margin-right: 20px;
}
.navbar, .Header__container{
    background-color: black;
    box-shadow: 0 0 10px 1px white;
    padding: 10px 40px;
}
.navbar-toggler {
    margin: 0;
}
