
.News {


}

#News h5 {
    display: block;
    opacity: 0.96;
    font-size: 1.5vw !important;
}

.News__title {
    align-items: center;

    color: #000000;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
    margin: 80px 0 64px 0;

}
