.News {

  height: 760px;
  display: flex;
  flex-direction: column;

}
.News__posts {
  display: flex;
  flex-direction: row;
    justify-content: center;
    margin-bottom: 56px;
}
.News__title {
    align-items: center;
    display: block;
    opacity: 0.96;
    color: #000000;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
    margin: 80px 0 64px 0;

}
