.App {
  text-align: center;
  font-family: Roboto;
  opacity: 0.96;
  color: #000000;
}
.App h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
}
.App h2 {
  opacity: 0.48;
  color: #ffffff;
  font-weight: 400;
  line-height: 120px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
}
:focus {
  outline: none
}
a {
  color: white;
}
a:hover {
  color: white;
}
link:hover {
  text-decoration: none;
}
